header {
    position:fixed; top:0; left:0; z-index:999;
    width:100%; background:#ffffff;
    height:100px; padding:0 30px;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    align-items:center;
    filter:drop-shadow(0 2px 5px rgba(0,0,0,0.1))
}
header h1 {width:240px;}
header h1 a {}
header h1 a img {width:100%; }
/* right */
header .right {display:flex; align-items:center;}
/* nav */
header nav {}
header nav .sub_bg {
    background:#ffffff;
    position:absolute; top:100px; left:0;
    width:100%; height:270px; z-index:50;
}
header nav #gnb {
    display:flex; flex-flow:row nowrap; 
}
header nav #gnb > li {position:relative;}
header nav #gnb > li > a {
    background:#fff;
    font-size:1.563rem; letter-spacing:-0.01em; font-weight:500;
    display:block; height:100px; padding:0 20px; line-height:100px;
    margin-left:40px; position:relative; z-index:999;
}
/* hover */
header nav #gnb > li > a:hover {color:#053291;}
header nav #gnb > li > .sub > li > a:hover {color:#053291; font-weight:500;}
/* sub */
header nav #gnb > li > .sub {
    padding:20px 0;
    position:absolute; top:100px; left:20px;
    width:100%; 
    z-index:100;
    text-align:center;
}
header nav #gnb > li > .sub li {
    margin-bottom:10px;
}
header nav #gnb > li > .sub li:last-child {margin-bottom:0;}
header nav #gnb > li > .sub li a {
    height:40px; line-height:40px;
    display:block;
    font-size:1.25rem; letter-spacing:-0.02em;
}
/* m_nav */
header .m_nav {
    width:40px; height:30px; margin-left:40px;
    display:flex; flex-flow:column nowrap; justify-content:space-around;
}
header .m_nav span {
    display:block;
    width:40px; height:5px; background:#053291; border-radius:5px;
}
/* m_nav_open */
header .m_nav_open {
    position:absolute; top:100px; left:0;
    width:100%; background:#ffffff; text-align:center;
    /* padding:20px 0 50px; */
    z-index:100;
    height:0; overflow:hidden;
    transition:all 1s;
}
.show {height:600px !important; padding:20px 0; }
header .m_nav_open .m_gnb {}
header .m_nav_open .m_gnb > li {margin-bottom:20px}
header .m_nav_open .m_gnb > li:last-child {margin-bottom:0;}
header .m_nav_open .m_gnb > li > a {
    display:block; height:50px; line-height:50px;
    font-size:1.563rem; letter-spacing:-0.02em; font-weight:500;
}
header .m_nav_open .m_gnb > li:hover {
    border-bottom:1px dashed #FDCE02;
}
header .m_nav_open .m_gnb > li:hover > a {color:#053291;}
header .m_nav_open .m_gnb > li > .sub {
    padding:20px 0;}
header .m_nav_open .m_gnb > li > .sub li {margin-bottom:35px; }
header .m_nav_open .m_gnb > li > .sub li:last-child {margin-bottom:0;}
header .m_nav_open .m_gnb > li > .sub li a {
    display:block; font-size:1.25rem; letter-spacing:-0.02em; 
    color:#555555;
}
/* hover */
header nav #gnb > li:hover > a {color:#053291; border-bottom:2px solid #053291;}
header nav #gnb > li > .sub > li > a:hover {color:#053291; font-weight:500;}
header .m_nav_open .m_gnb > li > .sub li a:hover {color:#053291;}


/* footer */
footer {background:#efefef; padding:70px 30px;}
footer .f_top {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    margin-bottom:35px;
}
footer .f_top p {width:240px;}
footer .f_top p img {width:100%;}
footer .f_top .sns_list {}
footer .f_top .sns_list a {display:inline-block; padding:12px;} 
footer .f_top .sns_list a:hover {
    transform:translateY(-15px)
}
footer .f_top .sns_list a img {}
footer address {
    display:flex; flex-flow:column nowrap;
}
footer address span {
    margin-bottom:30px;
    font-size:1.25rem; letter-spacing:-0.02em; 
}
footer address span em {
    font-size:1.25rem; letter-spacing:-0.02em; font-weight:700;
}
footer address span:last-child {margin-bottom:0;}
