/* menu_detail 반응형 css */
@media screen and (max-width:1600px){
    main .view_more .pop .view_open {width:800px;}
}/* 1600 end */
@media screen and (max-width:1400px){
    main #detail #wrap {
        width:calc(100% - 15px); padding:100px 0;
    }
    main #detail #wrap .info .drink .drink_3 a { margin-right:30px;}
}/* 1400 end */
@media screen and (max-width:1160px){
    main #detail #wrap .info h1 {font-size:1.563rem; margin-bottom:15px;}
    main #detail #wrap .info p {font-size:1rem; line-height:35px; margin-bottom:15px;}
    main #detail #wrap .info .nutrition .top h2 {font-size:1.25rem;}
    main #detail #wrap .info .drink h2 {font-size:1.25rem;}
    main #detail #wrap {justify-content:space-between;}
    main #detail #wrap .item_img {width:35%;}
    main #detail #wrap .item_img img {width:330px; height:330px;}
    main #detail #wrap .info {width:65%;}
    main #detail #wrap .info .nutrition table th {font-size:0.9rem;}
    main #detail #wrap .info .nutrition table td {font-size:0.9rem;}
}/* 1160 end */
@media screen and (max-width:960px){
    main #detail #wrap .item_img img {width:280px; height:280px;}
    main #detail #wrap .info .drink .drink_3 a {width:140px; height:140px; margin-right:10px;}
    main #detail #wrap .info .drink .drink_3 a img {height:140px;}
}/* 960 end */
@media screen and (max-width:800px){
    main #detail #wrap {flex-flow:column nowrap; justify-content:center; align-items:center;
        width:calc(100% - 30px); margin:0 auto;
        padding:120px 0;
    }
    main #detail #wrap .item_img {width:100%; margin-bottom:30px;}
    main #detail #wrap .info {width:100%;}
    main .view_more .pop .view_open {width:600px;}
}/* 800 end */
@media screen and (max-width:650px){
    main #detail #wrap .info .nutrition table th {font-size:0.8rem;}
    main #detail #wrap .info .nutrition table td {font-size:0.8rem;}
}/* 650 end */
@media screen and (max-width:500px){
    main #detail #wrap .info .drink .drink_3 a {width:120px; height:120px; margin-right:10px;}
    main #detail #wrap .info .drink .drink_3 a img {height:120px;}
    main #detail #wrap .info .nutrition .top .view a span {font-size:0.8rem; letter-spacing:-0.04em;}
    main #detail #wrap .info .back {width:100px; height:30px;}
    main #detail #wrap .info .back img {width:20px; height:20px;}
    main #detail #wrap .info .back span {font-size:1rem}
}/* 500 end */
@media screen and (max-width:430px){
    main #detail #wrap .info .drink .drink_3 a {width:100px; height:100px; margin-right:5px;}
    main #detail #wrap .info .drink .drink_3 a img {height:100px;}
}/* 430 end */
@media screen and (max-width:380px){
    main #detail #wrap .info .drink .drink_3 a {width:90px; height:90px; margin-right:5px;}
    main #detail #wrap .info .drink .drink_3 a img {height:100px;}
    main #detail #wrap .info .nutrition .top .view a img {display:none;}

}